/*main css*/

body {
    background: url('http://pokewalls.files.wordpress.com/2011/07/385jirachi2-1920x1080.jpg')!important;
}

.header {
    background: rgba(17, 72, 79, 0.6) url("http://i.imgur.com/fvSlONp.png?1") no-repeat;
}

.header .logo {
    opacity: 0;
}

.chat-log{
    background:url('http://pldh.net/media/dreamworld/385.png') no-repeat;
    background-position:top right;
}

.pm-log-add{
    background:#d9d9d9;
}

.pm-window h3{
    background:#d9d9d9 url('http://pldh.net/media/pokexycons/385.png') bottom left no-repeat;
    text-align:center;
    background-position:225px;
}

.pm-window.focused h3{
   background:#d9d9d9 url('http://pldh.net/media/pokexycons/385.png') bottom left no-repeat;
    text-align:center;
    background-position:225px;
}

.pm-log{
    background:url('http://pldh.net/media/pokemon/gen3/emerald/385.png') no-repeat;
    background-position: top right;
}
.pm-window.focused .pm-log-add{
    background:#e6e6e6;
}

.button{
    background:#d9d9d9!important;
    font-style:italic!important;
    border:black 1px solid;
    color:black!important;
}

.teamlist .team {
    background: black;
    color: #d9d9d9;
}
.folderpane h3 {
    background: #d9d9d9;
}
.folder .selectFolder {
    background: #d9d9d9;
}
.folderlist .foldersep:before {
    background: #d9d9d9;
}
.setcell-details {
    background: #d9d9d9;
}
.setchart {
    background: #d9d9d9;
}
.setchart-nickname label {
    background: #d9d9d9;
}
.utilichart h3 {
    background: black;
    color: #d9d9d9;
}
.pokemonedit {
    background: #d9d9d9;
    color: black;
}
.pokemonedit:hover,
.pokemonedit.focused {
    background: black;
    color: #d9d9d9;
}
.select,
.team {
    background: black;
    color: #d9d9d9;
}
.select:hover,
.team:hover {
    background: #d9d9d9;
    color: black;
}
.broadcast-blue {
    background: black;
    color: #d9d9d9;
    text-align: center;
}
.broadcast-green {
    background: black;
    color: #d9d9d9;
    text-align: center;
}
.broadcast-red {
    background: black;
    color: #d9d9d9;
    text-align: center;
}
                                         
.chat-log-add{
    background:#d9d9d9;
}

.roomlist a.ilink{
    background:#d9d9d9;
    text-align:center;
    color:black;
}

.mainmenuwrapper{
    background:url('http://i.imgur.com/D038iEi.png') no-repeat;
    background-position: bottom left;
}

.battle-log {
    background:#d9d9d9;
}

.battle-log h2{
    color:#d9d9d9;
    background:black;
    font-style:italic!important;
    text-align:center;
}

.rightbar, .leftbar{
    background:#d9d9d9;
}

.battle-log-add{
    background:#d9d9d9;
}

.ps-room.ps-room-opaque{
    background:#d9d9d9;
}

.ps-room .battle-controls{
    background:#d9d9d9;
}

.backdrop{
    background:url('https://globalunison.files.wordpress.com/2012/07/meteor.jpg')!important;
}


.ps-popup{
    background:#d9d9d9;
}
                                            
/*************************************
  * Userlist Icons *
  ************************************/

#lobby-userlist-user-lmaoitsbt, #staff-userlist-user-lmaoitsbt {
    background: rgba(0, 0, 0, 0) url("http://www.poke-amph.com/x-y/sprites/pokemon/385.png") right no-repeat;
}  
  
#lobby-userlist-user-bookgeek, #staff-userlist-user-bookgeek {
    background: rgba(0, 0, 0, 0) url("http://www.poke-amph.com/x-y/sprites/pokemon/668.png") right no-repeat;
}
/* COLORS START */
#lobby-userlist-user-setbookgeek strong em, #lobby-userlist-user-setbookgeek strong, #lobby-userlist-user-setbookgeek span, #staff-userlist-user-setbookgeek strong em, #staff-userlist-user-setbookgeek strong, #staff-userlist-user-setbookgeek span, #shadowbanroom-userlist-user-setbookgeek strong em, #shadowbanroom-userlist-user-setbookgeek strong, #shadowbanroom-userlist-user-setbookgeek span, #tournaments-userlist-user-setbookgeek strong em, #tournaments-userlist-user-setbookgeek strong, #tournaments-userlist-user-setbookgeek span, #casino-userlist-user-setbookgeek strong em, #casino-userlist-user-setbookgeek strong, #casino-userlist-user-setbookgeek span, #development-userlist-user-setbookgeek strong em, #development-userlist-user-setbookgeek strong, #development-userlist-user-setbookgeek span, #seniorstaff-userlist-user-setbookgeek strong em, #seniorstaff-userlist-user-setbookgeek strong, #seniorstaff-userlist-user-setbookgeek span{
color: blue !important;
}
.chat.chatmessage-setbookgeek strong {
color: blue !important;
}
#lobby-userlist-user-bookgeek strong em, #lobby-userlist-user-bookgeek strong, #lobby-userlist-user-bookgeek span, #staff-userlist-user-bookgeek strong em, #staff-userlist-user-bookgeek strong, #staff-userlist-user-bookgeek span, #shadowbanroom-userlist-user-bookgeek strong em, #shadowbanroom-userlist-user-bookgeek strong, #shadowbanroom-userlist-user-bookgeek span, #tournaments-userlist-user-bookgeek strong em, #tournaments-userlist-user-bookgeek strong, #tournaments-userlist-user-bookgeek span, #casino-userlist-user-bookgeek strong em, #casino-userlist-user-bookgeek strong, #casino-userlist-user-bookgeek span, #development-userlist-user-bookgeek strong em, #development-userlist-user-bookgeek strong, #development-userlist-user-bookgeek span, #seniorstaff-userlist-user-bookgeek strong em, #seniorstaff-userlist-user-bookgeek strong, #seniorstaff-userlist-user-bookgeek span{
color: blue !important;
}
.chat.chatmessage-bookgeek strong {
color: blue !important;
}
/* COLORS END */
